<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <!-- Landscape is set in MainActivity for the car flavor (avoids IDE unresolved-class on overlay). -->
    <application
        android:persistent="true"
        tools:replace="android:persistent" />
</manifest>
